.outline {
    border: black solid 2px;
    text-align: center;
    padding: .5em;

}

#grade {
   margin: 1em 10em;
   padding: 5em 0;
}

#stateTitle {
    text-align: center;
    margin-top: 5em;
}
