.zipBox {
    border: black solid 2px;
    text-align: center;
    padding: 2em 0;
    margin-top: 3em;
}

.inline-img {
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: baseline;
  }

  .errorMsg {
    /* font-style: italic; */
    font-size: 12px;
    color: #F44336;
    margin: 3px 0px 0px;
    font-family: 'Roboto', Helvetica, sans-serif;
  }

  .zipField {
      margin-top: 2em;
  }

  /* .errorBox {
      margin-top: 1em;
  } */

  