.statePolicies {
    background: rgba(204, 204, 204, 0.7);
    width: 80%;
    left: 22%;
    height: auto;
    position: relative;
}

.stateBody {
    width: 80%;
    height: 80%;
    text-align: center;
    position: relative;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.sseoList {
    display: inline-block;
    margin-right: 25px;
    padding: 15px;
}

.sseoItem{
    margin: 10px;
}

.sseoTextField {
    float: left;
    margin-top: 50px;
    margin-right: 10px
}

.stateSSEOitem {
    border-top: 2px solid black;
}

.newSseo {
    display: inline;
}

.editSaveBtn{
    float: right;
}

.addSseoBtn {
    color: blue;
    cursor: default;
    
    margin-bottom: 5px;
}

.addSseoBtn:hover {
    background: rgba(204, 204, 204, 0.5);
 }