.statePolicies {
    background: rgba(204, 204, 204, 0.7);
    width: 80%;
    left: 22%;
    height: auto;
    position: relative;
}

.stateBody {
    width: 80%;
    text-align: center;
    position: relative;
}


.stateSSEOitem {
    border-top: 2px solid black;
}