.parent {
    display: flex;
}
 .statePolicies {
     align-self: flex-start;
 }

 .inputs {
     align-self: right;
     background: rgba(204, 204, 204, 0);
     border-radius: 3px;
     border: 1.5px solid #babbb7;
     padding: 5px;
 }


 .adminFormCenter{
     align-content: center;
     position: center;
     align-self: center;
     text-align: left;
 }

 .sseoInputs{
     display: flex;
     align-self: right;
     background: rgba(204, 204, 204, 0);
     height: 45px;
     padding: 5px;
 }

 .sseoTitle{
     margin-left: 10px
 }

 .policyInfo{
     margin: 20px
 }

 .inputsFields{
     text-align: left;
 }

 .sseoButton {
    padding: 10px;
    background: rgba(204, 204, 204, 0);
    font-size: 15px;
    border: none;
    border-radius: 3px;
    color: blue
 }

 .sseoButton:hover{
    background: rgba(204, 204, 204, 0.5);
    cursor: default;
 }

 .prettyBtn {
     padding: 10px;
     background: rgba(204, 204, 204, 0);
     font-size: 15px;
     border: none;
     border-radius: 3px;
     float: right;
 }

 .prettyBtn:hover {
    background: rgba(204, 204, 204, 0.5);
 }

 .fullAdminForm {
    width: 80%;
    text-align: center;
    position: relative;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
 }