.confirmation {
    width: 50%;
    height: 100%;
    text-align: center;
    position: relative;
    background: rgba(204, 204, 204, 0.7);
}

.confirmationBody {
    left: 25%;
    right: 25%;
    height: auto;
    position: relative;
}

.confirmationBtnShare {
    float: left;
    color: #f2f2f2;
    color: black;
    background: rgba(90, 150, 79, 0.7);
    padding: 40px 40px;
    text-decoration: none;
    font-size: 30px;
    border:none;
    cursor: pointer;
    outline:0;
}

.confirmationBtnHome {
    float: right;
    color: #f2f2f2;
    color: black;
    background: rgba(90, 150, 79, 0.7);
    padding: 40px 40px;
    text-decoration: none;
    font-size: 30px;
    border:none;
    cursor: pointer;
    outline:0;
}