.cardItem {
    margin: 1em
}

.addButton {
    margin-left: 5px;
}

.textArea{
    height: 150px;
    width: 350px;
    white-space: pre-line
}

.subjectLine {
    width: 280px
}

.policies {
    margin: 0 0 0 0em;
}

.header {
    margin: 1em;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.policy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -15em -3em 0 1em;
}
