

.addButton {
    margin-left: 5px;
}

.subjectLine {
    width: 280px
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* 
.policy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -15em -3em 0 1em;
} */
