table, thead, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: small;
    text-align: left;
}

table {
    margin-top: 10px;
}

.form {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 5px;
}


.policyButton {
    margin-left: 1350px;
    margin-bottom: 15px;
}

.prettyBtn {
    padding: 10px;
    background: rgba(204, 204, 204, 0);
    font-size: 15px;
    border: none;
    border-radius: 3px;
    float: right;
}

.prettyBtn:hover {
   background: rgba(204, 204, 204, 0.5);
}

h1{
    text-align: center;
}

button {
    margin: 5px
}

textarea {
    padding: 5px;
    width: 90%;
    height: 12vw;
    resize: none;
}



input.inputs{
    background: rgb(247, 247, 246);
}

textarea.inputs{
    background: rgb(247, 247, 246);
}

