.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  /* background-image: url("./river.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  color: black;
  background: rgba(204, 204, 204, 0.7);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border:none;
  cursor: pointer;
  outline:0;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: 'column',
}

.nav-link:hover {
  background-color: rgba(255,255,255, .1);
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-right {
  float: right;
}